
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}
<div class="page-content">
    <div class="container-fluid">

        <!--title1-->
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="card bg-primary border-primary">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Aktif Araçlar</span>
                            <h5 class="card-title mb-0 text-white">Toplam Araç Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0 text-white">
                                    @ViewBag.v1
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.r1 % <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.r1%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- toplam araç -->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-success border-success">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Mevcut Lokasyonlar</span>
                            <h5 class="card-title mb-0 text-white">Lokasyon Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                     @ViewBag.v2
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.r2% <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.r2%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- lokasyon-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-warning border-warning">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Yazar Sayısı</span>
                            <h5 class="card-title mb-0 text-white">Yazar Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.v3
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.r3% <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.r3%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- yazar-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-info border-info">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Tüm Zamanlar</span>
                            <h5 class="card-title mb-0 text-white">Toplam Blog Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.v4
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.r4% <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.r4%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- toplam blog-->
        </div>

        <!--title2-->
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="card bg-primary border-primary">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Aktif Markalar</span>
                            <h5 class="card-title mb-0 text-white">Toplam Marka Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8"> 
                                <h2 class="d-flex align-items-center mb-0 text-white">
                                    @ViewBag.v5
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.r5% <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.r5%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- marka-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-success border-success">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Günlük Fiyat</span>
                            <h5 class="card-title mb-0 text-white">Ortalama Araç Fiyatı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.v6 TL
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.r6% <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.r6%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- günlük fiyat-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-warning border-warning">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Haftalık Fiyat</span>
                            <h5 class="card-title mb-0 text-white">Ortalama Araç Fiyatı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.v7 TL
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.r7% <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.r7%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- haftalık fiyat-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-info border-info">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Aylık Fiyat</span>
                            <h5 class="card-title mb-0 text-white">Ortalama Araç Fiyatı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.v8 TL
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.r8% <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.r8%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- aylık fiyat-->
        </div>

        <!--title3-->
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="card bg-primary border-primary">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Araç Sayısı</span>
                            <h5 class="card-title mb-0 text-white">Otomatik Vitesli Araçlar</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0 text-white">
                                    @ViewBag.v9
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.r9% <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.r9%%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- otomatik vites sayısı-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-success border-success">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Marka Adı</span>
                            <h5 class="card-title mb-0 text-white">En Fazla Araçlı Marka</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.v10
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.r10% <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.r10%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- en fazla araçlı marka-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-warning border-warning">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Blog Başlığı</span>
                            <h5 class="card-title mb-0 text-white">En Fazla Yorum Alan Blog</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.v11
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50"> @ViewBag.r11%  <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.r11% ;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- em fazla yorum alan blog-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-info border-info">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">10.000 Km'nin Altındaki Araç Sayısı</span>
                            <h5 class="card-title mb-0 text-white">10.000 Km Sınırı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.v12
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.r12% <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.r12%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- 10000 km den az araçlar-->
        </div>

        <!--title4-->
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="card bg-primary border-primary">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Yakıt Türü</span>
                            <h5 class="card-title mb-0 text-white">Dizel ve Benzinli Araç Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0 text-white">
                                    @ViewBag.v13
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.r13% <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.r13%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- benzin ve dizel sayısı-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-success border-success">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Yakıt Türü</span>
                            <h5 class="card-title mb-0 text-white">Elektrikli Araba Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.v14
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.r14% <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.r14%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- elektrikli sayısı-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-warning border-warning">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Araç Bilgileri</span>
                            <h5 class="card-title mb-0 text-white">Günlük Fiyatı En Yüksek Araç </h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.v15
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50"> @ViewBag.r15% <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.r15% ;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- günlük fiyatı en yüksek araç-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-info border-info">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Araç Bilgileri</span>
                            <h5 class="card-title mb-0 text-white">Günlük Fiyatı En Düşük Araç</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                   @ViewBag.v16
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50"> @ViewBag.r16% <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.r16% ;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- günlük fiyatı en düşük araç-->
        </div>

    </div>
</div>

